@import'maps';
@import'variables';
.mainColores{
    background-image: url(../imagenes/annie-spratt-6a3nqQ1YwBw-unsplash.jpg);
    background-repeat: no-repeat;
    height: auto;
    width:auto;
    .tituloInicio{
        color: map-get($colores,colorBlanco);
        margin: 2em;
    }
    .colorfondo{
        background-color:map-get($colores,grisOscuro);
    }
    .colorfuente{
        color: map-get($colores,colorBlanco);
        margin-bottom: 4em;
    }
    .cardColores{
        margin: 200px;
    }
}

